meer labelen/$_84.jfif
meer labelen/download (1).jfif
meer labelen/download (2).jfif
meer labelen/download (3).jfif
meer labelen/download (4).jfif
meer labelen/download (5).jfif
meer labelen/download (6).jfif
meer labelen/download (7).jfif
meer labelen/download.jfif
meer labelen/images (1).jfif
meer labelen/images (2).jfif
meer labelen/images (3).jfif
meer labelen/images (4).jfif
meer labelen/images (5).jfif
meer labelen/images (6).jfif
meer labelen/images (7).jfif
meer labelen/images (8).jfif
meer labelen/images (9).jfif
meer labelen/images (10).jfif
meer labelen/images (11).jfif
meer labelen/images (12).jfif
meer labelen/images (13).jfif
meer labelen/images (14).jfif
meer labelen/images (15).jfif
meer labelen/images (16).jfif
meer labelen/images (17).jfif
meer labelen/images (18).jfif
meer labelen/images (19).jfif
meer labelen/images (20).jfif
meer labelen/images (21).jfif
meer labelen/images (22).jfif
meer labelen/images (23).jfif
meer labelen/images.jfif
meer labelen/straatkolk (1).jpg
meer labelen/straatkolk_2.png
meer labelen/Straatkolk.jpg
meer labelen/straatkolken riool.jpg
meer labelen/straatput.jpg
meer labelen/unnamed (1).jpg
meer labelen/unnamed.jpg
meer labelen/verstopte-kolk.jpg
meer labelen/video_1091603.jpg
meer labelen/vm-1m.jpg
meer labelen/vm-bob-dr.jpg
meer labelen/vm-punt-drain.jpg
meer labelen/vm-sw-punt.jpg
meer labelen/x4tOTBOoneCqHQfjZMmPOis4FPfVWsMj.jpg
Remote_Putdekseltrainen/training-remote.py
Remote_Putdekseltrainen/putdeksel/cache/detection_test_data.pkl
Remote_Putdekseltrainen/putdeksel/cache/detection_train_data.pkl
Remote_Putdekseltrainen/putdeksel/json/detection_config.json
Remote_Putdekseltrainen/putdeksel/logs/train/events.out.tfevents.1633949724.LAPTOP-TOM.15348.0.v2
Remote_Putdekseltrainen/putdeksel/logs/train/events.out.tfevents.1633949741.LAPTOP-TOM.profile-empty
Remote_Putdekseltrainen/putdeksel/logs/train/events.out.tfevents.1634233311.LAPTOP-TOM.11332.0.v2
Remote_Putdekseltrainen/putdeksel/logs/train/events.out.tfevents.1634240359.LAPTOP-TOM.18624.0.v2
Remote_Putdekseltrainen/putdeksel/logs/train/plugins/profile/2021_10_11_10_55_41/LAPTOP-TOM.input_pipeline.pb
Remote_Putdekseltrainen/putdeksel/logs/train/plugins/profile/2021_10_11_10_55_41/LAPTOP-TOM.kernel_stats.pb
Remote_Putdekseltrainen/putdeksel/logs/train/plugins/profile/2021_10_11_10_55_41/LAPTOP-TOM.memory_profile.json.gz
Remote_Putdekseltrainen/putdeksel/logs/train/plugins/profile/2021_10_11_10_55_41/LAPTOP-TOM.overview_page.pb
Remote_Putdekseltrainen/putdeksel/logs/train/plugins/profile/2021_10_11_10_55_41/LAPTOP-TOM.tensorflow_stats.pb
Remote_Putdekseltrainen/putdeksel/logs/train/plugins/profile/2021_10_11_10_55_41/LAPTOP-TOM.trace.json.gz
Remote_Putdekseltrainen/putdeksel/logs/train/plugins/profile/2021_10_11_10_55_41/LAPTOP-TOM.xplane.pb
Remote_Putdekseltrainen/putdeksel/logs/train/plugins/profile/2021_10_14_17_42_04/LAPTOP-TOM.input_pipeline.pb
Remote_Putdekseltrainen/putdeksel/logs/train/plugins/profile/2021_10_14_17_42_04/LAPTOP-TOM.kernel_stats.pb
Remote_Putdekseltrainen/putdeksel/logs/train/plugins/profile/2021_10_14_17_42_04/LAPTOP-TOM.memory_profile.json.gz
Remote_Putdekseltrainen/putdeksel/logs/train/plugins/profile/2021_10_14_17_42_04/LAPTOP-TOM.overview_page.pb
Remote_Putdekseltrainen/putdeksel/logs/train/plugins/profile/2021_10_14_17_42_04/LAPTOP-TOM.tensorflow_stats.pb
Remote_Putdekseltrainen/putdeksel/logs/train/plugins/profile/2021_10_14_17_42_04/LAPTOP-TOM.trace.json.gz
Remote_Putdekseltrainen/putdeksel/logs/train/plugins/profile/2021_10_14_17_42_04/LAPTOP-TOM.xplane.pb
Remote_Putdekseltrainen/putdeksel/logs/train/plugins/profile/2021_10_14_19_39_33/LAPTOP-TOM.input_pipeline.pb
Remote_Putdekseltrainen/putdeksel/logs/train/plugins/profile/2021_10_14_19_39_33/LAPTOP-TOM.kernel_stats.pb
Remote_Putdekseltrainen/putdeksel/logs/train/plugins/profile/2021_10_14_19_39_33/LAPTOP-TOM.memory_profile.json.gz
Remote_Putdekseltrainen/putdeksel/logs/train/plugins/profile/2021_10_14_19_39_33/LAPTOP-TOM.overview_page.pb
Remote_Putdekseltrainen/putdeksel/logs/train/plugins/profile/2021_10_14_19_39_33/LAPTOP-TOM.tensorflow_stats.pb
Remote_Putdekseltrainen/putdeksel/logs/train/plugins/profile/2021_10_14_19_39_33/LAPTOP-TOM.trace.json.gz
Remote_Putdekseltrainen/putdeksel/logs/train/plugins/profile/2021_10_14_19_39_33/LAPTOP-TOM.xplane.pb
Remote_Putdekseltrainen/putdeksel/logs/validation/events.out.tfevents.1634234199.LAPTOP-TOM.11332.1.v2
Remote_Putdekseltrainen/putdeksel/train/annotations/67cd37a440d3af94c4f76ff6a2615cf1-putdeksel.2982abc3 (1).xml
Remote_Putdekseltrainen/putdeksel/train/annotations/67cd37a440d3af94c4f76ff6a2615cf1-putdeksel.2982abc3.xml
Remote_Putdekseltrainen/putdeksel/train/annotations/95_4_thumb.xml
Remote_Putdekseltrainen/putdeksel/train/annotations/260px-Trottoirkolk.xml
Remote_Putdekseltrainen/putdeksel/train/annotations/1200px-Trottoirkolk_Leek.xml
Remote_Putdekseltrainen/putdeksel/train/annotations/2020-brandkraan-deksel-luttick-3-juli-800px.xml
Remote_Putdekseltrainen/putdeksel/train/annotations/2108apputdeksel1.xml
Remote_Putdekseltrainen/putdeksel/train/annotations/16428.xml
Remote_Putdekseltrainen/putdeksel/train/annotations/93809_regenwaterput_deksel_1.xml
Remote_Putdekseltrainen/putdeksel/train/annotations/258341ba-4538-11eb-9c43-90c8138b8809_web_scale_0.5301205_0.5301205__.xml
Remote_Putdekseltrainen/putdeksel/train/annotations/20191114_092713.xml
Remote_Putdekseltrainen/putdeksel/train/annotations/afvalputje.xml
Remote_Putdekseltrainen/putdeksel/train/annotations/alk-aquagate-vw.xml
Remote_Putdekseltrainen/putdeksel/train/annotations/Archieffoto-van-een-rioolput-foto-Omroep-Zeeland.xml
Remote_Putdekseltrainen/putdeksel/train/annotations/Belgisch-Hardsteen-goot2.xml
Remote_Putdekseltrainen/putdeksel/train/annotations/BHavXtrottoirkolk.xml
Remote_Putdekseltrainen/putdeksel/train/annotations/BILD.xml
Remote_Putdekseltrainen/putdeksel/train/annotations/BILD0003blog (1).xml
Remote_Putdekseltrainen/putdeksel/train/annotations/BILD0021blog.xml
Remote_Putdekseltrainen/putdeksel/train/annotations/brandkraan-crop.xml
Remote_Putdekseltrainen/putdeksel/train/annotations/Brandkraan.xml
Remote_Putdekseltrainen/putdeksel/train/annotations/c7a296d20a3a77a1e39775f6135feb37.xml
Remote_Putdekseltrainen/putdeksel/train/annotations/Dhp8S-NWkAUuKW2.xml
Remote_Putdekseltrainen/putdeksel/train/annotations/dsc_0758-1-e1527080416161.xml
Remote_Putdekseltrainen/putdeksel/train/annotations/dsc_0761-e1527080425157.xml
Remote_Putdekseltrainen/putdeksel/train/annotations/dsc_0763-1.xml
Remote_Putdekseltrainen/putdeksel/train/annotations/DSCN6996blog.xml
Remote_Putdekseltrainen/putdeksel/train/annotations/DUebn1EWkAEY1ra.xml
Remote_Putdekseltrainen/putdeksel/train/annotations/fondatel-rioolputdeksel-straatkolk-rioolkolk-afvalwater-afvoeren-.xml
Remote_Putdekseltrainen/putdeksel/train/annotations/gettyimages-1140095595-612x612.xml
Remote_Putdekseltrainen/putdeksel/train/annotations/GSK-IMGP0492.xml
Remote_Putdekseltrainen/putdeksel/train/annotations/hermelock-parking-vg-plastics.7e8a5433.063fc134.xml
Remote_Putdekseltrainen/putdeksel/train/annotations/hqdefault.xml
Remote_Putdekseltrainen/putdeksel/train/annotations/l.xml
Remote_Putdekseltrainen/putdeksel/train/annotations/mini-p1010176-1.xml
Remote_Putdekseltrainen/putdeksel/train/annotations/mini-p1010186-6.xml
Remote_Putdekseltrainen/putdeksel/train/annotations/mini-p1010198-17.xml
Remote_Putdekseltrainen/putdeksel/train/annotations/mini-p1010199-18.xml
Remote_Putdekseltrainen/putdeksel/train/annotations/Oldehove-putdeksel.xml
Remote_Putdekseltrainen/putdeksel/train/annotations/Onderdelen - put.xml
Remote_Putdekseltrainen/putdeksel/train/annotations/photo5994400428583922669.xml
Remote_Putdekseltrainen/putdeksel/train/annotations/put_0.xml
Remote_Putdekseltrainen/putdeksel/train/annotations/put-gemeente-dordrecht-indebuurt-dordrecht-e1531914599350.xml
Remote_Putdekseltrainen/putdeksel/train/annotations/putdeksel (1).xml
Remote_Putdekseltrainen/putdeksel/train/annotations/putdeksel_rw.xml
Remote_Putdekseltrainen/putdeksel/train/annotations/putdeksel-doetinchem-maxima-willem-alexander (1).xml
Remote_Putdekseltrainen/putdeksel/train/annotations/putdeksel-e1558098341862.xml
Remote_Putdekseltrainen/putdeksel/train/annotations/putdeksel-groningen.xml
Remote_Putdekseltrainen/putdeksel/train/annotations/Putdeksel-TBS.xml
Remote_Putdekseltrainen/putdeksel/train/annotations/putdeksel.xml
Remote_Putdekseltrainen/putdeksel/train/annotations/putdekselistock-578119394.xml
Remote_Putdekseltrainen/putdeksel/train/annotations/Rioolput-1024x578.xml
Remote_Putdekseltrainen/putdeksel/train/annotations/Rioolput-vuil-water-e1531560792276-1024x994.xml
Remote_Putdekseltrainen/putdeksel/train/annotations/rioolputjes-rioolputten-straatkolk-rioolkolk-afvalwater-afvoeren-.xml
Remote_Putdekseltrainen/putdeksel/train/annotations/rk_putdeksel_001_rw.xml
Remote_Putdekseltrainen/putdeksel/train/annotations/Screenshot 2021-09-28 104332.xml
Remote_Putdekseltrainen/putdeksel/train/annotations/Screenshot 2021-09-28 104751.xml
Remote_Putdekseltrainen/putdeksel/train/annotations/stank.xml
Remote_Putdekseltrainen/putdeksel/train/images/67cd37a440d3af94c4f76ff6a2615cf1-putdeksel.2982abc3 (1).jpg
Remote_Putdekseltrainen/putdeksel/train/images/67cd37a440d3af94c4f76ff6a2615cf1-putdeksel.2982abc3.jpg
Remote_Putdekseltrainen/putdeksel/train/images/95_4_thumb.jpg
Remote_Putdekseltrainen/putdeksel/train/images/162dea69-cd44-4b4e-a06a-6b8024ecb992.jpg
Remote_Putdekseltrainen/putdeksel/train/images/260px-Curb_gutter_storm_drain.jfif
Remote_Putdekseltrainen/putdeksel/train/images/260px-Manhole_cover_in_Dronten.jfif
Remote_Putdekseltrainen/putdeksel/train/images/260px-Trottoirkolk.jpg
Remote_Putdekseltrainen/putdeksel/train/images/1200px-Trottoirkolk_Leek.jpg
Remote_Putdekseltrainen/putdeksel/train/images/2020-brandkraan-deksel-luttick-3-juli-800px.jpg
Remote_Putdekseltrainen/putdeksel/train/images/2108apputdeksel1.jpg
Remote_Putdekseltrainen/putdeksel/train/images/16428.jpg
Remote_Putdekseltrainen/putdeksel/train/images/93809_regenwaterput_deksel_1.jpg
Remote_Putdekseltrainen/putdeksel/train/images/258341ba-4538-11eb-9c43-90c8138b8809_web_scale_0.5301205_0.5301205__.jpg
Remote_Putdekseltrainen/putdeksel/train/images/20041104_6836_overvecht_TBS.jfif
Remote_Putdekseltrainen/putdeksel/train/images/20140819_9236.jfif
Remote_Putdekseltrainen/putdeksel/train/images/20191114_092713.jpg
Remote_Putdekseltrainen/putdeksel/train/images/afvalputje.jpg
Remote_Putdekseltrainen/putdeksel/train/images/alk-aquagate-vw.jpg
Remote_Putdekseltrainen/putdeksel/train/images/Archieffoto-van-een-rioolput-foto-Omroep-Zeeland.jpg
Remote_Putdekseltrainen/putdeksel/train/images/Belgisch-Hardsteen-goot2.jpg
Remote_Putdekseltrainen/putdeksel/train/images/BHavXtrottoirkolk.jpg
Remote_Putdekseltrainen/putdeksel/train/images/BILD.jpg
Remote_Putdekseltrainen/putdeksel/train/images/BILD0003blog (1).JPG
Remote_Putdekseltrainen/putdeksel/train/images/BILD0021blog.JPG
Remote_Putdekseltrainen/putdeksel/train/images/brandkraan-crop.jpg
Remote_Putdekseltrainen/putdeksel/train/images/Brandkraan.jpg
Remote_Putdekseltrainen/putdeksel/train/images/c7a296d20a3a77a1e39775f6135feb37.jpg
Remote_Putdekseltrainen/putdeksel/train/images/Dhp8S-NWkAUuKW2.jpg
Remote_Putdekseltrainen/putdeksel/train/images/dsc_0758-1-e1527080416161.jpg
Remote_Putdekseltrainen/putdeksel/train/images/dsc_0761-e1527080425157.jpg
Remote_Putdekseltrainen/putdeksel/train/images/dsc_0763-1.jpg
Remote_Putdekseltrainen/putdeksel/train/images/DSCN6996blog.png
Remote_Putdekseltrainen/putdeksel/train/images/DUebn1EWkAEY1ra.jpg
Remote_Putdekseltrainen/putdeksel/train/images/fondatel-rioolputdeksel-straatkolk-rioolkolk-afvalwater-afvoeren-.jpg
Remote_Putdekseltrainen/putdeksel/train/images/gettyimages-1140095595-612x612.jpg
Remote_Putdekseltrainen/putdeksel/train/images/GSK-IMGP0492.jpg
Remote_Putdekseltrainen/putdeksel/train/images/hermelock-parking-vg-plastics.7e8a5433.063fc134.jpg
Remote_Putdekseltrainen/putdeksel/train/images/hqdefault.jpg
Remote_Putdekseltrainen/putdeksel/train/images/mini-p1010176-1.jpg
Remote_Putdekseltrainen/putdeksel/train/images/mini-p1010186-6.jpg
Remote_Putdekseltrainen/putdeksel/train/images/mini-p1010198-17.jpg
Remote_Putdekseltrainen/putdeksel/train/images/mini-p1010199-18.jpg
Remote_Putdekseltrainen/putdeksel/train/images/Oldehove-putdeksel.png
Remote_Putdekseltrainen/putdeksel/train/images/Onderdelen - put.jpg
Remote_Putdekseltrainen/putdeksel/train/images/photo5994400428583922669.jpg
Remote_Putdekseltrainen/putdeksel/train/images/put_0.jpg
Remote_Putdekseltrainen/putdeksel/train/images/put-gemeente-dordrecht-indebuurt-dordrecht-e1531914599350.jpg
Remote_Putdekseltrainen/putdeksel/train/images/putdeksel (1).jpg
Remote_Putdekseltrainen/putdeksel/train/images/putdeksel (2).jpg
Remote_Putdekseltrainen/putdeksel/train/images/putdeksel_rw.jpg
Remote_Putdekseltrainen/putdeksel/train/images/putdeksel-doetinchem-maxima-willem-alexander (1).jpg
Remote_Putdekseltrainen/putdeksel/train/images/putdeksel-doetinchem-maxima-willem-alexander.jpg
Remote_Putdekseltrainen/putdeksel/train/images/putdeksel-e1558098341862.jpg
Remote_Putdekseltrainen/putdeksel/train/images/putdeksel-groningen.jpg
Remote_Putdekseltrainen/putdeksel/train/images/Putdeksel-TBS.jpg
Remote_Putdekseltrainen/putdeksel/train/images/putdeksel.jpg
Remote_Putdekseltrainen/putdeksel/train/images/putdekselistock-578119394.jpg
Remote_Putdekseltrainen/putdeksel/train/images/Rioolput-1024x578.jpg
Remote_Putdekseltrainen/putdeksel/train/images/Rioolput-vuil-water-e1531560792276-1024x994.jpg
Remote_Putdekseltrainen/putdeksel/train/images/rioolputjes-rioolputten-straatkolk-rioolkolk-afvalwater-afvoeren-.jpg
Remote_Putdekseltrainen/putdeksel/train/images/rk_putdeksel_001_rw.jpg
Remote_Putdekseltrainen/putdeksel/train/images/Screenshot 2021-09-28 104332.png
Remote_Putdekseltrainen/putdeksel/train/images/Screenshot 2021-09-28 104751.png
Remote_Putdekseltrainen/putdeksel/train/images/stank.jpg
Remote_Putdekseltrainen/putdeksel/validation/annotations/2c7edbfbad27047a25736883e1cb28e4.xml
Remote_Putdekseltrainen/putdeksel/validation/annotations/04a07fe9195ef944dcc1d25e4c8389b6.xml
Remote_Putdekseltrainen/putdeksel/validation/annotations/4e92c1bee10c57430ccbfecad27af5f1.xml
Remote_Putdekseltrainen/putdeksel/validation/annotations/42-jarige-man-sterft-in-rioolput.xml
Remote_Putdekseltrainen/putdeksel/validation/annotations/50_plus-2975-6110-2607081007-2.xml
Remote_Putdekseltrainen/putdeksel/validation/images/2c7edbfbad27047a25736883e1cb28e4.jpg
Remote_Putdekseltrainen/putdeksel/validation/images/04a07fe9195ef944dcc1d25e4c8389b6.jpg
Remote_Putdekseltrainen/putdeksel/validation/images/4e92c1bee10c57430ccbfecad27af5f1.jpg
Remote_Putdekseltrainen/putdeksel/validation/images/42-jarige-man-sterft-in-rioolput.jpg
Remote_Putdekseltrainen/putdeksel/validation/images/50_plus-2975-6110-2607081007-2.jpg
voorbeelden/image.jpeg
voorbeelden/image.jpg
voorbeelden/imagenew.jpg
voorbeelden/imagenew2.jpg
voorbeelden/video.mp4
voorbeelden/videonew.mp4.avi
voorbeelden/videonew.mp42.avi
__pycache__/cv2.cpython-38.pyc
pretrained-yolov3.h5
putdekselmodel.h5
resnet50_coco_best_v2.1.0.h5
yolo.h5
__pycache__/datamangement.cpython-38.pyc
Meesterproef.code-workspace
